@media screen and (max-width 1280px)

	.inicio-img
		height 750px
		background-image url('../images/inicio.jpg')
		
	.mediaImagenes1280
		display block
	
	.mediaImagenes1920,
	.mediaImagenes800
		display none
